<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <style>
    </style>
  </head>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
  
  $(document).ready(function(){
    var socket = io();
    
    socket.on('onlineClient', function(response){
      $('body').append($('<h1>').text(response));
      /*
      $.each(response,function(index,value){
        var button = '<button data-id="'+value.user_id+'">'+value.username+' is online</button>';
        $('body').append(button);
      });
      */
      
    });
  
  });
</script>

  <body>

  </body>
</html>
