<!doctype html>
<html>
  <head>
    <title>Dashboard</title>
    <style>
    </style>
  </head>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script>
  
  $(document).ready(function(){
    var socket = io();
    var room = "dashboard";
    
    socket.on('connect', function() {
      socket.emit('room', room);
    });

    socket.on('onlineClient', function(response){
        var button = '<button data-id="'+response.user_id+'">'+response.username+' is online</button>';
      if($('button[data-id="'+response.user_id+'"]').length == 0 ){  
          $('body').append(button);
      }else{
        $('button[data-id="'+response.user_id+'"]').text(response.username+' is online');
      }
    });
    socket.on('clientSentMessage', function(response){
       $('button[data-id="'+response.user_id+'"]').text(response.username+' sent message');
    });
    socket.on('offlineClient', function(response){
        $('button[data-id="'+response.user_id+'"]').text("user left");
    });
  
  });
</script>

  <body>

  </body>
</html>
