<!doctype html>
<html>
<head>
	<title>Dashboard</title>
</head>
 <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
 <script>
 $(document).ready(function(){
	var socket = io.connect();
	var room = "dashboard";
	 
	socket.emit('room', room);
	 
	socket.on('usernames',function(data){
         console.log(data);
          for( i = 0 ; i < data.length ; i++ )
              $('body').append(data[i]+'<br>');
        });
	
});	 
</script>
<body> 
</body>
</html>	
