<!doctype html>
<html>
  <head>
    <title>Chat</title>
     <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
      $(function(){
         var socket = io.connect();
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        var username = url.searchParams.get("username");
        console.log(username);
        socket.emit('new user','username');
         
         function sendMessage(){
            socket.emit('send message',$('input').val());
            $('input').val('');
         }
        
        socket.on('new message',function(data){
          $('body').append('<strong>'+data.user+'</strong>'+data.msg+'<br>');
        });
        
        socket.on('usernames',function(data){
          for( i = 0 ; i < data.length ; i++ )
              $('#userdiv').append(data[i]+'<br>');
        });
      
      
      });
    </script>
    <body>
      <input type="text"></input>
      <button>Send</button>
      <div id="userdiv" style="backround:red;color:white;"></div>
    </body>
</html>
